@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  margin: 50px 20px 20px 20px;
  background-color: #FAFAFA;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.header--tittle {
  text-align: center;
  width: 100%;
  margin-bottom: 45px;
  color: #4E4D5F;
}

header p:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 30px;
}

header p:nth-child(2) {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

header p:nth-child(3) {
  font-weight: 200;
  font-size: 1.4rem;
}

.card--container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.card--container .card {
  background-color: #FFF;
  width: 100%;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 13px 9px -4px rgba(0,0,0,0.12);
  border-radius: 4px;
  color: #4E4D5F;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card--container .card p {
  font-size: 1.2rem;
  color: #A5A3A8;
  margin: 5px 0 5px 0;
}

.card--container .card img {
  width: 50px;
  height: 50px;
  align-self: flex-end;
  margin-top: 20px;

}

.card--container .card1 {
  border-top: solid 5px #49CDCD;
}

.card--container .card2 {
  border-top: solid 5px #D8575A;
}

.card--container .card3 {
  border-top: solid 5px #EFAB58;
}

.card--container .card4 {
  border-top: solid 5px #5898E0;
  margin-bottom: 55px;
}
